@import '../../variables';

.collections {
  main {
    background-image: url('public/backgrounds/m4howl.jpg');
    position: relative;
  }

  .collections-list {
    margin-top: 40px;
    display: grid;
    gap: 30px;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}