@import '../variables';

.home-stats {
  width: 100%;
  background: rgba(255,255,255,.02);
  padding-block: 60px;

  .home-stats-container {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;

    .home-stat {
      display: flex;
      gap: 14px;

      &:hover {
        .icon {
          transform: translateY(-6px);
        }
        .value {
          color: $primary;
        }
      }

      .icon {
        font-size: 2.8rem;
        color: $primary;
        transition: transform 0.3s ease;
      }

      .details {
        display: flex;
        flex-direction: column;

        .value {
          font-size: 2rem;
          font-weight: 700;
          transition: color 0.3s ease;
        }

        .name {
          text-transform: uppercase;
          font-weight: 500;
          color: #aaa;
          font-size: 0.9rem;
        }
      }
    }
  }
}