@import '../../variables';

.drawer {
  width: 100%;
  height: 230px;
  background: rgba(7, 6, 16, 0.7);
  backdrop-filter: blur(2px);
  border: 2px solid $background-light;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 24px;

  //.drawer-card {
  //  position: absolute;
  //  z-index: 1;
  //  height: 100%;
  //  aspect-ratio: 3/4;
  //  left: 50%;
  //  top: 50%;
  //  transform: translate(-50%, -50%);
  //  overflow: visible;
  //  border-radius: 15px;
  //  display: flex;
  //  flex-direction: column;
  //
  //  .top, .bot {
  //    height: 50%;
  //    width: 100%;
  //
  //    img {
  //      width: 100%;
  //      height: 100%;
  //      object-fit: cover;
  //      object-position: top;
  //      border-radius: 15px 15px 0 0;
  //    }
  //  }
  //
  //  .bot img {
  //    object-position: bottom;
  //    border-radius: 0 0 15px 15px;
  //  }
  //}

  .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(7, 6, 16, 0);
    background: linear-gradient(90deg, rgba(7, 6, 16, 1) 0%, rgba(7, 6, 16, 0) 40%, rgba(7, 6, 16, 0) 60%, rgba(7, 6, 16, 1) 100%);
  }

  .draw-result {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(7, 6, 16, 0.8);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    opacity: 0;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }

    .result-box {
      width: 200px;
      background: $background;
      height: 150px;
      border-radius: 12px;
      border: 1px solid $border-color;
      position: relative;

      .result-cover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 12px;
      }

      img {
        height: 65%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: $filter-shadow;
      }

      .name {
        position: absolute;
        bottom: 10px;
        left: 10px;

        .weapon {
          color: #ddd;
          font-weight: 300;
          margin-top: 3px;
          font-size: 0.7rem;
        }

        .skin {
          font-weight: 600;
          font-size: 0.9rem;
          color: #fff;
          margin-top: 1px;
        }
      }

      .wear {
        position: absolute;
        top: 12px;
        right: 12px;
        font-weight: 300;
        color: #ddd;
        font-size: 0.7rem;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      gap: 10px;

      button {
        display: block;
        background: $background-light;
        color: #fff;
        font-weight: 600;
        font-size: 0.9rem;
        padding: 10px 14px 7px 14px;
        border-radius: 6px;
        border: 2px solid $border-color;
      }
    }
  }

  .arrow-bot {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: $background-light transparent transparent transparent;
  }

  .arrow-top {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $background-light transparent;
  }

  .drawer-carousel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: fit-content;
    display: flex;
    padding-block: 1px;
    gap: 1px;

    .item {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 8px 12px;
      width: 180px;
      border-bottom: 3px solid red;

      .img {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 90%;
          margin-top: 15px;
          filter: $filter-shadow;
        }
      }

      .details {
        margin-top: auto;

        .weapon {
          color: #ddd;
          font-weight: 300;
          margin-top: 3px;
          font-size: 0.7rem;
        }

        .skin {
          font-weight: 600;
          font-size: 0.9rem;
          color: #fff;
          margin-top: 1px;
        }

        .rarity {
          width: 100%;
          height: 2px;
          margin-top: 6px;
        }
      }
    }
  }
}