@import '../../variables';

.livedrop {
  position: fixed;
  width: 160px;
  left: 0;
  z-index: 11;
  background: $background;
  height: 100dvh;
  box-shadow: 0 0 30px rgba(0,0,0,.5);

  .livedrop-wrapper {
    height: 100%;
    width: 100%;
    position: relative;

    .livedrop-switch {
      position: absolute;
      right: -40px;
      bottom: 20px;
      width: 40px;
      height: 40px;
      background: $background;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 10px 10px 0;
      font-size: 1.5rem;
      padding-right: 4px;
      color: #aaa;
      box-shadow: 5px 0 20px -10px rgba(0,0,0,.5);
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: #fff;
      }
    }
  }
}