@import '../../variables';

.livedrop {
  position: fixed;
  width: 160px;
  left: 0;
  z-index: 1;
  background: $background;
  height: 100dvh;
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  transition: margin-left 0.5s ease;

  .livedrop-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 5px;

    &:after {
      width: 100%;
      height: 80px;
      content: '';
      background: rgb(13,12,29);
      background: linear-gradient(0deg, rgba(13,12,29,1) 0%, rgba(30,29,47,0) 100%);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .livedrop-pause {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $red;
      font-size: 0.9rem;
      font-weight: 600;
      background: rgba(63, 14, 14, 0.5);
      box-shadow: 0 0 20px rgba(0,0,0,.3);
      transition: opacity 0.3s ease, transform 0.3s ease;
      transform: translateY(40px);
      opacity: 0;

      &.paused {
        transform: none;
        opacity: 1;
      }
    }

    .livedrop-header {
      background: $background-light;
      text-align: left;
      padding: 12px 14px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        color: $primary;
        font-weight: 700;
        font-size: 0.9rem;
      }

      .separator {
        width: 2px;
        border-radius: 2px;
        height: 14px;
        background: $border-color;
      }

      .online {
        font-size: 0.8rem;
        font-weight: 600;
        color: #ddd;

        > svg {
          font-size: 0.7rem;
          color: $primary;
          margin-right: 2px;
          animation: online-icon-animation 3s ease-in-out infinite;
          filter: drop-shadow(0 0 6px $primary)
        }

        @keyframes online-icon-animation {
          0% {
            opacity: 0.4;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0.4;
          }
        }
      }
    }

    .livedrop-options {
      display: flex;
      gap: 5px;
      margin-top: 5px;

      .livedrop-option {
        display: flex;
        flex-direction: column;
        flex: 1;
        background: $background-light;
        opacity: 0.6;
        color: #aaa;
        font-size: 0.6rem;
        padding-block: 12px 10px;
        border-radius: 5px;
        height: 36px;
        justify-content: center;
        align-items: center;
        gap: 3px;
        cursor: pointer;

        &.selected {
          opacity: 1;
          color: $primary;
        }
      }
    }

    .livedrop-items {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 5px;
    }

    .livedrop-switch {
      position: absolute;
      right: -40px;
      bottom: 20px;
      width: 40px;
      height: 40px;
      background: $background;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 10px 10px 0;
      font-size: 1.5rem;
      padding-right: 4px;
      color: #aaa;
      box-shadow: 5px 0 20px -10px rgba(0,0,0,.5);
      cursor: pointer;
      transition: color 0.3s ease;

      svg {
        transition: transform 0.5s ease;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}