@import '../../variables';

.skin-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-values {
    p {
      color: #ccc;
      font-size: 0.8rem;

      span {
        color: $primary;
      }
    }
  }

  .header-options {
    display: flex;
    align-items: center;
    gap: 6px;

    p {
      color: #ddd;
      font-size: 0.8rem;
    }

    .sort-by {
      padding: 8px 12px;
      background: rgba(13, 12, 29, 0.5);
      border: 1px solid rgba(255,255,255,.2);
      border-radius: 5px;
      color: #fff;
      outline: none;

      option {
        background: $background-light;
        border: none;
        outline: none;
      }
    }
  }
}

.skin-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  width: 100%;
  margin-top: 20px;

  .skin {
    background: rgba(30, 29, 47, 0.5);
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 15px;
    padding: 10px 10px 20px 10px;
    text-align: center;
    flex-grow: 0;
    backdrop-filter: blur(2px);
    position: relative;
    box-shadow: $box-shadow-1;

    .cover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }

    .skin-data {
      position: relative;
      z-index: 1;
    }

    .skin-rarity {
      width: 100%;
      height: 4px;
      border-radius: 3px;
    }

    .skin-weapon {
      margin-top: 16px;
      font-weight: 600;
      font-size: 1rem;
      color: #fff;
    }

    .skin-name {
      color: #ddd;
      font-weight: 300;
      margin-top: 3px;
      font-size: 0.9rem;
    }

    .skin-collections {
      font-size: 0.6rem;
      margin-top: 9px;
      color: #aaa;
    }

    .skin-image {
      padding-block: 8px;
      width: 100%;

      img {
        width: 80%;
        filter: drop-shadow(0 0 15px rgba(0,0,0,.3));
      }
    }

    .skin-price {
      margin-top: 5px;
      font-weight: 600;
      font-size: 0.9rem;
      color: #fff;
    }
  }
}