@import '../../variables';

.skinbase {

  main {
    background-image: url('/backgrounds/m4howl.jpg');
    position: relative;
  }

  .skinbase-wrapper {
    display: flex;
    margin-top: 30px;
    gap: 30px;
  }
}
