@import '../../variables';

.skin-base-skin {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .block-header {
    padding: 15px 17px;
    background: $background-light;
    border-radius: 15px 15px 0 0;

    h4 {
      font-size: 1rem;
    }
  }

  .block-content {
    padding: 17px;
  }

  .first-row > div, .second-row > div {
    background: rgba(30, 29, 47, 0.5);
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 15px;
    backdrop-filter: blur(2px);
    box-shadow: $box-shadow-1;
  }
}

.first-row {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-gap: 10px;

  .skin-name {
    position: relative;
    padding: 8px;

    .cover {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 15px;
    }
    .skin-name-wrapper {
      position: relative;
      display: flex;
      height: 100%;

      .skin-rarity {
        height: 100%;
        width: 4px;
        border-radius: 3px;
      }

      .skin-name-content {
        padding-inline: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .skin-name-weapon {
          align-self: start;
        }

        h3 {
          color: #fff;
          font-weight: 700;
          font-size: 1rem;
          margin-top: 10px;
        }

        h2 {
          color: #ddd;
          font-weight: 300;
          font-size: 1rem;
        }

        img {
          width: 80%;
          filter: drop-shadow(0 0 20px rgba(0,0,0,.3));
        }

        .inspect-buttons {
          display: flex;
          width: 100%;
          gap: 4px;

          &:hover {
            .inspect-button {
              opacity: 0.5;

              &:hover {
                opacity: 1;
              }
            }
          }

          .inspect-button {
            background: rgba(7, 6, 16, 0.5);
            height: 34px;
            flex-grow: 1;
            position: relative;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
              background: rgba(30, 29, 47, 1);
            }

            span {
              font-weight: 600;
              font-size: 0.8rem;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  .skin-details {
    dt {
      font-size: 0.9rem;
      color: #fff;
      font-weight: 500;

      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    dd {
      font-size: 0.9rem;
      font-weight: 300;
      margin-top: 3px;
      color: #ddd;
    }
  }

  .skin-prices {
    p {
      font-size: 0.9rem;
      font-weight: 300;
      margin-top: 3px;
      color: #ddd;
    }

    hr {
      border: 1px solid $border-color;
      margin-top: 16px;
    }

    .prices {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 14px;

      .price {
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        align-items: center;

        .wear {
          font-size: 0.8rem;
          font-weight: 300;
          color: #ddd;
        }

        .wear-price {
          font-size: 0.8rem;
          font-weight: 600;
        }
      }
    }

    .float-range {
      position: relative;
      margin-top: 20px;
      padding-bottom: 16px;

      .float-range-stripe, .float-range-stripe-dark {
        background: red;
        width: 100%;
        height: 5px;
        border-radius: 5px;
        display: flex;
        overflow: hidden;

        div { height: 100%; }
        .FN { width: 7%; }
        .MW { width: 8%; }
        .FT { width: 23%; }
        .WW { width: 7%; }
        .BS { width: 55%; }
      }

      .float-range-stripe-dark {
        opacity: 0.2;
      }

      .float-range-stripe {
        margin-top: -5px;
      }

      .indicator {
        position: absolute;
        top: -4px;
        z-index: 3;
        text-align: center;
        display: flex;
        flex-direction: column;

        .stripe {
          height: 12px;
          width: 2px;
          border-radius: 2px;
          background: #aaa;
        }

        .value {
          margin-left: -10px;
          margin-top: 3px;
          font-size: 0.7rem;
          color: #ddd;
        }
      }
    }
  }
}

.second-row {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 10px;

  .skin-preview {
    .block-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 240px;
    }
    img {
      max-height: 100%;
      max-width: 100%;
      filter: drop-shadow(0 0 20px rgba(0,0,0,.3));
    }
  }

  .skin-texture {
    display: flex;
    flex-direction: column;
    .block-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 240px;
    }
    img {
      width: 85%;
      border-radius: 10px;
      filter: drop-shadow(0 0 20px rgba(0,0,0,.3));
    }
  }
}