@import '../variables';

.not-found {

  main {
    background-image: url('/backgrounds/m4howl.jpg');
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    color: $primary;
    font-weight: 700;
    font-size: 4rem;
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  p {
    margin-top: 14px;
    font-weight: 300;
    font-size: 0.9rem;
  }

  a {
    margin-top: 22px;
    display: block;
  }

  .not-found-wrapper {
    text-align: center;
  }
}