@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: #070610;
}
::-webkit-scrollbar-thumb {
  background: #302f3f;
  width: 8px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 3px #070610;
}
::-webkit-scrollbar-thumb:hover {
  background: #47455d;
}

body {
  font-family: Cobane, serif;
  background: $background-dark;
  color: #fff;
  padding-left: 160px;
  transition: padding-left 0.5s ease;

  &.lock-scroll {
    overflow: hidden;
  }

  &.live-drop-hidden {
    padding-left: 0;

    header {
      width: 100% !important;
    }
  }
}

main {
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  min-height: calc(100dvh - 156px);
}

.content {
  padding-top: 110px;
  padding-bottom: 80px;
}

.container {
  max-width: 1300px;
  margin-inline: auto;
  padding-inline: 50px;
}

a {
  text-decoration: none;
  color: #fff;
}

.button-primary {
  padding: 10px 12px 8px 12px;
  border-radius: 8px;
  color: $primary;
  border: 1px solid $primary;
  background: rgba(30, 29, 47, 0.3);
  text-align: center;
  font-weight: 500;
  cursor: pointer;

  svg {
    margin-right: 3px;
  }
}

.button-gray {
  padding: 10px 12px 8px 12px;
  border-radius: 8px;
  color: #ddd;
  border: 1px solid $border-color;
  background: rgba(30, 29, 47, 0.3);
  text-align: center;
  font-weight: 500;
  cursor: pointer;

  svg {
    margin-right: 3px;
  }
}

.go-back-link {
  color: #bbb;
  text-decoration: none;
  font-size: 0.9rem;
}

.page-header {
  margin-top: 12px;
  font-size: 2.5rem;

  svg {
    color: $primary;
    margin-right: 4px;
  }
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.float-range {
  position: relative;
  margin-top: 20px;
  padding-bottom: 16px;

  .float-range-stripe, .float-range-stripe-dark {
    background: red;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    display: flex;
    overflow: hidden;

    div { height: 100%; }
    .FN { width: 7%; }
    .MW { width: 8%; }
    .FT { width: 23%; }
    .WW { width: 7%; }
    .BS { width: 55%; }
  }

  .float-range-stripe-dark {
    opacity: 0.2;
  }

  .float-range-stripe {
    margin-top: -5px;
  }

  .indicator {
    position: absolute;
    top: -4px;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);

    .stripe {
      height: 12px;
      width: 2px;
      border-radius: 2px;
      background: #aaa;
    }

    .value {
      margin-top: 3px;
      font-size: 0.7rem;
      color: #ddd;
    }
  }
}

.section-header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid $border-color;
  gap: 10px;

  h2, a {
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 10px 10px 0 0;
    color: #eee;
    font-weight: 600;
    background: $background-light;

    svg {
      color: $primary;
      margin-right: 2px;
    }
  }

  a {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s ease;

    svg {
      color: #fff;
      transition: color 0.2s ease;
    }

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;

      svg {
        color: $primary;
      }
    }
  }
}

@font-face {
  font-family: 'Cobane';
  font-weight: 400;
  src: url('../assets/fonts/Cobane-Regular.woff2') format('woff2'),
  url('../assets/fonts/Cobane-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Cobane';
  font-weight: 300;
  src: url('../assets/fonts/Cobane-Light.woff2') format('woff2'),
  url('../assets/fonts/Cobane-Light.woff') format('woff');
}

@font-face {
  font-family: 'Cobane';
  font-weight: 200;
  src: url('../assets/fonts/Cobane-Extralight.woff2') format('woff2'),
  url('../assets/fonts/Cobane-Extralight.woff') format('woff');
}

@font-face {
  font-family: 'Cobane';
  font-weight: 100;
  src: url('../assets/fonts/Cobane-Thin.woff2') format('woff2'),
  url('../assets/fonts/Cobane-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Cobane';
  font-weight: 500;
  src: url('../assets/fonts/Cobane-Medium.woff2') format('woff2'),
  url('../assets/fonts/Cobane-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Cobane';
  font-weight: 600;
  src: url('../assets/fonts/Cobane-Semibold.woff2') format('woff2'),
  url('../assets/fonts/Cobane-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Cobane';
  font-weight: 700;
  src: url('../assets/fonts/Cobane-Bold.woff2') format('woff2'),
  url('../assets/fonts/Cobane-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Cobane';
  font-weight: 800;
  src: url('../assets/fonts/Cobane-Black.woff2') format('woff2'),
  url('../assets/fonts/Cobane-Black.woff') format('woff');
}