@import 'variables';

@mixin rarity-gradient($color, $alpha, $deg, $start, $end) {
  background: linear-gradient($deg, rgba($color, $alpha) $start, rgba(255, 255, 255, 0) $end);
}

$rarities: (
        contraband: $rarity-contraband,
        rare: $rarity-rare,
        covert: $rarity-covert,
        classified: $rarity-classified,
        restricted: $rarity-restricted,
        mil-spec: $rarity-mil-spec,
        industrial-grade: $rarity-industrial-grade,
        consumer-grade: $rarity-consumer-grade
);

$wears: (
        FN: $wear-fn,
        MW: $wear-mw,
        FT: $wear-ft,
        WW: $wear-ww,
        BS: $wear-bs
);

.rarity-color {
  @each $rarity, $color in $rarities {
    &.#{$rarity} {
      color: $color !important;
    }
  }
}

.rarity-border-color {
  @each $rarity, $color in $rarities {
    &.#{$rarity} {
      border-color: $color !important;
    }
  }
}

.rarity-background {
  @each $rarity, $color in $rarities {
    &.#{$rarity} {
      background-color: $color;
    }
  }
}

.rarity-border-left-15 {
  @each $rarity, $color in $rarities {
    &.#{$rarity} {
      @include rarity-gradient($color, 0.15, 90deg, 0%, 100%);
    }
  }
}

.rarity-border-left-20 {
  @each $rarity, $color in $rarities {
    &.#{$rarity} {
      @include rarity-gradient($color, 0.2, 90deg, 0%, 100%);
    }
  }
}

.rarity-border-top-10 {
  @each $rarity, $color in $rarities {
    &.#{$rarity} {
      @include rarity-gradient($color, 0.1, 180deg, 0%, 80%);
    }
  }
}

.rarity-border-top-20 {
  @each $rarity, $color in $rarities {
    &.#{$rarity} {
      @include rarity-gradient($color, 0.20, 180deg, 0%, 100%);
    }
  }
}

.wear-color {
  @each $wear, $color in $wears {
    &.#{$wear} {
      color: $color !important;
    }
  }
}

.wear-background {
  @each $wear, $color in $wears {
    &.#{$wear} {
      background-color: $color !important;
    }
  }
}