$primary: #43ea80;
$background: #0d0c1d;
$background-light: #1e1d2f;
$background-dark: #070610;
$red: #ff4444;

$collections-color: #43ea80;
$upgrader-color: #43dcea;
$scratch-cards-color: #7243ea;
$daily-free-color: #ea43e2;
$giveaways-color: #eab043;
$lucky-shot-color: #ea4362;

$rarity-contraband: #ffae39;
$rarity-rare: #FFD700;
$rarity-covert: #EB4B4B;
$rarity-classified: #D32EE6;
$rarity-restricted: #8847FF;
$rarity-mil-spec: #4B69FF;
$rarity-industrial-grade: #5E98D9;
$rarity-consumer-grade: #B0C3D9;

$wear-fn: #178391;
$wear-mw: #76B400;
$wear-ft: #E5BF26;
$wear-ww: #FF8029;
$wear-bs: #FF3E2F;

$box-shadow-1: 0 3px 10px rgba(0,0,0,0.3);
$border-color: rgba(255,255,255,.2);