@import '../../variables';

.header-filler {
  height: 154px;
}

header {
  position: fixed;
  width: calc(100% - 150px);
  top: 0;
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  z-index: 10;
  transition: width 0.5s ease;

  .header-top {
    background: $background-light;
    padding-block: 14px;

    ul {
      display: flex;
      list-style: none;
      gap: 18px;

      li:last-child {
        margin-left: auto;
      }

      li a {
        color: #ddd;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.7rem;
        transition: color 0.2s ease;

        svg {
          margin-right: 6px;
          transition: color 0.2s ease;
        }

        &:hover {
          color: #fff;

          svg {
            color: $primary;
          }
        }
      }
    }
  }

  .header-main {
    background: #0d0c1d;
    position: relative;
    padding-bottom: 18px;

    .header-main-wrapper {
      padding-block: 32px;
      display: flex;
      justify-content: space-between;

      .header-left {
        display: flex;
        align-items: center;
        gap: 40px;
      }

      .header-right {
        display: flex;
        gap: 20px;
        align-items: center;

        .sign-up-button {
          display: block;
          background: rgba(67, 234, 128, 0.22);
          color: #fff;
          font-weight: 500;
          padding: 8px 12px 6px 12px;
          border-radius: 6px;
          border: 2px solid #43EA80;
          cursor: pointer;
          transition: color 0.5s ease;

          &:hover {
            color: $primary;
          }

          svg {
            color: $primary;
            margin-right: 2px;
          }
        }

        .login-button {
          display: block;
          color: #fff;
          font-weight: 500;
          border-radius: 6px;
          cursor: pointer;
          transition: color 0.5s ease;

          &:hover {
            color: $primary;
          }

          svg {
            color: $primary;
            margin-right: 2px;
          }
      }
      }
    }

    .header-games {
      background: $background-light;
      width: calc(100% - 100px);
      height: 44px;
      border-radius: 10px;
      position: absolute;
      bottom: -22px;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid #302f3f;
      box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 1250px;
      padding-inline: 30px;

      .header-game {
        font-weight: 400;
        color: #bbb;
        font-size: 0.9rem;
        position: relative;
        transition: color .3s ease;

        svg {
          margin-right: 6px;
          transition: filter 0.3s ease, color 0.3s ease;
        }

        &.active, &:hover, &:focus {
          color: #fff;

          svg {
            filter: drop-shadow(0 0 7px currentcolor);
          }
        }

        &.game-collections.active svg {
          color: $collections-color;
        }
        &.game-upgrader.active svg { color: $upgrader-color; }
        &.game-scratch-cards.active svg { color: $scratch-cards-color; }
        &.game-daily-free.active svg { color: $daily-free-color; }
        &.game-giveaways.active svg { color: $giveaways-color; }
        &.game-lucky-shot.active svg { color: $lucky-shot-color; }
      }

      .separator {
        width: 2px;
        height: 50%;
        background: #302f3f;
        border-radius: 2px;
      }
    }
  }

  .logo {
    height: 46px;
  }
}