@import '../../variables';

.client-seed-modal {
  border: 1px solid rgba(255, 255, 255, .2);
  flex: 1;
  border-radius: 15px;
  padding: 30px 40px;
  text-align: center;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    animation: modal-content-animate-in 0.3s ease;

    @keyframes modal-content-animate-in {
      from {
        transform: translateX(20px);
      }
      to {
        transform: translateY(0);
      }
    }
  }

  .content-header {
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    width: 100%;

    h2 {
      color: #fff;
      font-size: 1.8rem;

      svg {
        color: $primary;
        font-size: 1.4rem;
        margin-bottom: 1px;
      }
    }

    p {
      font-size: 0.8rem;
      font-weight: 300;
      margin-top: 4px;
      color: #ddd;

      .switch-sign-in {
        color: $primary;
        cursor: pointer;
        font-weight: 400;
      }
    }
  }

  .client-seed-container {
    margin-top: 20px;

    input {
      background: $background-light;
      outline: none;
      border: none;
      padding: 10px 12px;
      border-radius: 8px;
      font-family: Cobane, sans-serif;
      font-size: 0.9rem;
      color: #fff;
      width: 100%;
      border: 1px solid $border-color;
    }
  }

  button {
    display: block;
    background: rgba(67, 234, 128, 0.22);
    color: #43EA80;
    width: 100%;
    font-weight: 500;
    padding: 10px 12px 8px 12px;
    border-radius: 6px;
    border: 1px solid #43EA80;
    margin-top: 20px;

    &.inactive {
      pointer-events: none;
      cursor: default;
      opacity: 0.5;
    }
  }
}