@import '../../variables';

.best-drops-list {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  padding-bottom: 70px;

  .best-drop-item {
    border: 1px solid $border-color;
    height: 200px;
    background: $background;
    flex-grow: 1;
    border-radius: 10px;
    position: relative;

    &:after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backdrop-filter: blur(2px);
      content: '';
      border-radius: 10px;
      z-index: 2;
      opacity: 0;
      background: rgba(0,0,0,0.1);
      transition: opacity 0.3s ease;
    }

    .cover {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 10px;
    }

    .godrop-mark {
      position: absolute;
      width: 40%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: blur(4px);
      mix-blend-mode: overlay;

      img {
        width: 100%;
        opacity: 0.2;
      }
    }

    &:hover {
      .image img {
        transform: scale(0.8);
        opacity: 0;
      }

      .image-card img {
        transform: scale(1);
        opacity: 1;
      }

      &:after {
        opacity: 1;
      }
    }

    .image {
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 55%;

      img {
        width: 100%;
        filter: $filter-shadow;
        transition: transform 0.4s ease, opacity 0.4s ease;
      }
    }

    .image-card {
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 60%;
      z-index: 3;

      img {
        height: 100%;
        filter: $filter-shadow;
        border-radius: 8px;
        transition: transform 0.4s ease, opacity 0.4s ease;
        transform: scale(1.2);
        opacity: 0;
      }
    }

    .dropper {
      position: absolute;
      left: 15px;
      top: 15px;
      display: flex;
      gap: 6px;

      .avatar {
        width: 26px;

        img {
          width: 100%;
          border-radius: 100%;
        }
      }

      .details {
        .username {
          font-size: 0.8rem;
        }
        .time-elapsed {
          font-size: 0.7rem;
          color: #ccc;
          font-weight: 400;
        }
      }
    }

    .chance {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 0.65rem;
      text-align: right;
      color: #ddd;
    }

    > .details {
      position: absolute;
      bottom: 15px;
      left: 15px;

      .weapon {
        color: #aaa;
        font-size: 0.7rem;
      }

      .skin {
        font-weight: 600;
      }

      .wear {
        font-size: 0.7rem;
        margin-top: 2px;
        color: #aaa;
      }

      .price {
        font-weight: 600;
        margin-top: 4px;
        font-size: 0.9rem;
      }
    }
  }
}

.home-best-drops {
  .home-best-drops-container {
    .home-best-drops-list {

    }
  }
}